@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale(.9);
}

img {
  width: 100%;
    margin: auto;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;

}

.tarot-card {
  width: 300px;
  height: 500px;
  margin: auto;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  box-shadow: 0px 2px 30px #000;
  cursor: pointer;
    border-radius: 10px;
  border: .3em solid #000000a9;
  z-index: 100;
  background-color: #000000;
}

.tarot-card:nth-child(1) {
  transform: rotate(-3deg);
}

.tarot-card:nth-child(2) {
  transform: rotate(4deg);
}

.tarot-card:nth-child(3) {
  transform: rotate(10deg);
}

.tarot-card:nth-child(4) {
  transform: rotate(4deg);
}

.top {
  z-index: 150;
}

.bottom{
  z-index: 50;
}

